html, body {
    height: 100%;
}

.pt-3 {
    padding-top: 15px;
}

body {
    background-color: #FAFAFA !important;
    margin-bottom: 0px !important;
}

.s_post-inner:hover {
    -webkit-box-shadow: 9px 10px 13px -2px rgba(0,0,0,0.83);
    -moz-box-shadow: 9px 10px 13px -2px rgba(0,0,0,0.83);
    box-shadow: 9px 10px 13px -2px rgba(0,0,0,0.83);
}

.s_post-inner::hover::after {
    opacity: 1;
}

a {
    transition: all 0.3s ease-in-out;
}

.s_post-inner {
    transition: box-shadow 0.3s ease-in-out;
}

.bg-white {
    background: white !important;
}

.mt-inverse-3 {
    margin-top: -25px;
}

.footer {
    padding-top: 25px;
    margin-bottom: 0px !important;
}

.bg-welcome {
    background: 
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    url("../images/home-banner.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 370px;
}

.darken {
    color: white;
    background-color: rgba(0, 0, 0, .6);
    float: left;
}

/* Container */
ul.s_posts {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -18px;
  }
  /* Post */
  li.s_post {
    flex-basis: 33.333333333%; /* Sets post width */
    display: flex; /* Sets even heights */
  }
  /* Post Inner: allows margin around content */
  li.s_post .s_post-inner {
    width: 100%;
    margin: 10px; /* Space around post */
  }
  /* Post Image - Background Image */
  li.s_post .s_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px; /* Image Height */
  }
  /* Post Content */
  li.s_post .s_content {
    padding: 20px;
  }
  /* Responsive Breakpoints based on HubSpot Boilerplate CSS */
  @media (max-width: 767px) {
    li.s_post { flex-basis: 50%; }
  }
  @media (max-width: 479px) {
    li.s_post { flex-basis: 100%; }
  }
  
  .sub-footer {
      padding: 20px !important;
  }